
.block {
   margin: 80px auto 0;
   text-align: center;
   width: 1150px;
   
}

.text {
   margin-top: 10px;
   margin-bottom: 40px;
}

.gallery {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
}

