@use "../../assets/styles/variables";

.block {
   margin-top: 130px;
   text-align: center;
}

.categories {
   display: flex;
   justify-content: space-between;
   width: 370px;
   margin: 10px auto 0;
}

.category {
   font-family: variables.$font-family-primary;
   font-weight: variables.$medium;
   color: #4A4A4A;
   cursor: pointer;
   transition: color .2s linear;

   &:hover,
   &_active {
      color: #066F14;
   }
}

.products {
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
   margin-bottom: 40px;
}