@use "../../assets/styles/variables.scss";

.subscribe {
   border-radius: 6px;
   position: relative;
   margin: 165px auto 0;
   background-color: #DFFFE3;
   padding: 60px 55px;
   width: 930px;
   height: 200px;
}

.info {
   width: 480px;
}

.text {
   margin-top: 10px;
}

.form {
   position: relative;
}

.input {
   margin-top: 30px;
   width: 420px;
   height: 15px;
   padding: 20px;
   border: none;
   border-radius: 4px;
   background-color: #FFF;
}

.button {
   position: absolute;
   padding: 10px 15px;
   top: 40px;
   right: 30px;
   cursor: pointer;
   font-family: variables.$font-family-primary;
   border: none;
   border-radius: 4px;
   background-color: #066F14;
   color: #FFF;
   transition: all .2s ease-in;

   &:hover {
      box-shadow: 0 2px 10px 0 rgba(6, 111, 20, 0.5);
   }
}

.image {
   position: absolute;
   width: 260px;
   height: 355px;
   bottom: 0;
   right: 25px;
}