.intro {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.intro-leaves {
   position: absolute;
   z-index: -1;
   width: 160px;
   height: 195px;
   transform: rotate(30deg);
   top: 55%;
   left: 40%;
}

.intro-content {
   width: 600px;
}

.intro-content > p {
   margin-top: 25px;
   margin-bottom: 40px;
}

.intro-title {
   color: #1A1A1A;
   font-size: 72px;
   font-family: var(--nunito);
   font-weight: var(--bold);
   line-height: 92px;
}

.intro-info {
   margin-top: 60px;
   display: flex;
   justify-content: space-between;
}

.intro-image {
   width: 560px;
   height: 720px;
}