@use "../../assets/styles/variables";

.intro {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.leaves {
   position: absolute;
   top: 55%;
   left: 39%;
   z-index: -1;
   width: 234px;
   height: 247px;
}

.inner {
   width: 681px;

   & > .info {
      max-width: 600px;
   }
}

.inner > p {
   width: 510px;
   margin-top: 25px;
   margin-bottom: 40px;
}

.title {
   font-family: variables.$font-family-secondary;
   font-size: 72px;
   font-weight: variables.$bold;
   line-height: 92px;
   color: #1A1A1A;
}

.info {
   display: flex;
   justify-content: space-between;
   margin-top: 60px;
}

.image {
   width: 560px;
   height: 720px;
}