@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito:wght@600;700&display=swap');
 
:root { 
   --dm-sans: "DM Sans", sans-serif; 
   --nunito: 'Nunito', sans-serif; 
 
 
   --regular: 400; 
   --medium: 500; 
   --semi-bold: 600; 
   --bold: 700; 
}

* {
   user-select: none;
}
 
.Container { 
   width: 100%; 
   max-width: 1275px; 
   margin: 0 auto; 
}

.Text {
   font-family: var(--dm-sans);
   color: #4A4A4A;
   line-height: 1.6;
}

*::selection {
   background-color: #066F14;
   color: white;
}