@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito:wght@600;700&display=swap");

$color-accent: #066F14;

$font-family-primary: "DM Sans", sans-serif;
$font-family-secondary: "Nunito", sans-serif;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;