.intro-item {
   width: 110px;
   text-align: center;
}  

.intro-meaning {
   font-family: var(--nunito);
   font-weight: var(--bold);
   font-size: 36px;
   color: #001B04;
}

.intro-name {
   font-family: var(--dm-sans);
   font-size: 18px;
   color: #1A1A1A;
}